[2017-11-10 20:08] bkeepers opened #1 "Add to probot.github.io"
Hey @ahmed-taj, this app looks really awesome! Would you be interested in having this listed on probot.github.io? Here are the [directions for submitting it to the site](https://github.com/probot/probot.github.io/blob/master/CONTRIBUTING.md#adding-your-app) if you're interested.

[2017-11-25 11:27] z0al commented on #1
This has been fixed

[2017-11-25 11:27] #1 closed

[2017-12-04 21:27] nesl247 opened #2 "Support for cross-repository dependencies"
It would be awesome if this would work across repositories. That's actually the reason we looked into this bot.

[2017-12-04 21:28] nesl247 opened #3 "Don't require a / in the beginning"
It would be nice if we could simply write the following anywhere in a comment: `Depends on #something, #something, and #something` and it would work. Writing a slash command in a comment feels weird.

[2017-12-04 22:21] z0al commented on #2
Hey @nesl247  , thank you for opening this!

Yeah, working with dependencies across repositories sounds cool. Technically, at least for the automatic status update, it's limited to the repositories the bot has gained access once installed!  Would you need to include dependencies from "external" repositories?

I will take a look to see what I can do ;)

[2017-12-25 05:21] ryanhiebert opened #4 "Update base when dependency is merged"
If a pull request has a base that is the branch of a dependency pull request, then watch for that dependency to be merged, and update the dependent's base branch to be the branch that the dependency pull request was merged into.

This would effectively allow for pull request chaining, mentioned at isaacs/github#867. Because the dependent pull request would be made as if it were to the dependency,

[2017-12-26 08:31] z0al commented on #4
Hi @ryanhiebert, thank you for opening this :sparkles:

Honestly, I had no idea how pull requests chaining, but it sounds interesting to me. I will need some time to figure how things work, then I may give it a shot (if somebody didn't take it already)

Suggestions from anybody are welcome!

[2017-12-26 13:37] ryanhiebert commented on #4
I was trying to figure it out yesterday, but I haven't been able to get my local clone to even notice the dependencies correctly. Do you have any tips on that? If I can get the current project working, I want PR chaining bad enough that I'm willing to write it.

[2017-12-26 14:29] z0al commented on #4
What exactly the issue?

P.S. I'm also available on gitter (username: ahmed-taj , you can reach out there at anytime :)

[2017-12-26 15:15] ryanhiebert commented on #4
AFA what it takes, I think it's just a call to the UPDATE pull request API to change the base to the base that the dependancy pull request was merged into: https://developer.github.com/v3/pulls/#update-a-pull-request.

[2017-12-26 18:24] ryanhiebert commented on #4
Would it be better if, instead of being based on explicitly declared dependencies, that it were instead based on just the branches? That way, for this feature, the dependency stuff wouldn't even be needed. It could arguably be made into a separate app entirely, since they would be disjoint features.

[2017-12-27 03:31] ryanhiebert commented on #4
I don't think it would be wise to base it on branches of pull requests alone. I can imagine a git flow-like situation where you have a development branch that you merge to master on a schedule. If you do that with pull requests you certainly wouldn't want pull requests that are based on your develop branch being automatically being changed to merge into your master branch.

So, using the explicit

[2017-12-27 03:49] z0al commented on #4
This feature would probably be turned off by default (for compatibility with existing users) and that can be changed through e.g a configuration in `.github/config.yml`?

[2017-12-27 03:54] ryanhiebert commented on #3
I'd like this, so that it matches the way GitHub will notice special references to other issues (aka `Fixes #42`). When doing this, we probably also would want to allow alternative tense, like `depend` and `depended`, to match how GitHub handles the `fix`, `close`, and `resolve` keywords to automatically close issues when a related pull request is merged.

[2017-12-27 12:41] z0al commented on #4
@ryanhiebert correct me if I'm wrong, AFAIK here is what needs to be done (Assuming PR chaining is enabled):

* When a PR e.g. `A` has been (re)opened/edited on branch `M` (as a source branch), we need to look for other open PRs where the target branch is `M` and set `A` as a dependency, right?
* When `A` has been merged into branch e.g `T`, then we need to look for all dependents and change their

[2017-12-27 12:41] z0al commented on #4
Also, do you think it would be useful to write a comment per dependencies update? e.g: Listing the current dependencies and the cause of change (either user command or PR chaining)

[2017-12-27 14:34] ryanhiebert commented on #4
No, I don't think we should automatically determine any dependencies based on the branches, at least not for this feature. It could be useful as a separate feature, perhaps, but I think the trade-offs are ones that will need to be considered more fully later, and I'm actually skeptical that it's what we really want at all.

Here's what I want:

* Create pull request A to merge branch `a`  into `ma

[2017-12-27 16:06] z0al commented on #4
Oh, OK that makes sense, thanks for the explanation 😄

[2017-12-28 13:52] ryanhiebert commented on #4
I can imagine there being a case where someone wanted to have a pull request depend on another pull request, but did not want the chaining to happen. For example, consider a git-flow workflow:

* Create a pull request to merge `develop` into `master`. This might happen periodically to make a release.
* Create a second pull request based on `develop`, as most would be in git flow.
* Add a dependenc

[2017-12-28 16:49] z0al commented on #4
Well, I never used PRs chaining before or even thought about it when I started this app.

I'm not sure yet when do people need to use PRs chaining in the first place. So, if the chaining isn't something people do frequently in a predictable manner, I think your suggested approach (`/chain` command) could work well whether or not the case you mentioned is an edge-case.

AFAIK both features could wo

[2017-12-28 16:54] ryanhiebert commented on #4
I use PR chaining in all kinds of bad ways when I am working furiously to implement a bunch of new features, but the review is backlogged a bit, or I'm just delayed in getting things from the first PR fixed. It's a small case, I'll admit, but I do find it to be useful, and I think relatively intuitive once you come across the need.

[2017-12-28 16:56] z0al commented on #4
So, @ryanhiebert do you think the additional command approach fits your needs?

[2017-12-28 17:02] ryanhiebert commented on #4
Yes, it does. Given that the chaining feature at this point seems entirely disjoint from the primary feature of this app, though, do you think that it would be best to keep the feature in this app, or put it in a separate app so that people can decide which features they want to use? I guess I'm a bit inclined toward the latter.

[2017-12-28 17:09] z0al commented on #4
You're better aware of the problem we are trying to solve, so, It's totally fine if you think it should be in a separated app, and I would still help you if you need anything!

[2017-12-28 18:36] ryanhiebert commented on #4
Sounds good! I'll follow your lead and use the project as a way to create a couple of hopefully interesting blog posts ;-) I'm using your blog post to help me get started, so thanks for that. I'll be sure to follow up here with whatever I come up with.

[2017-12-29 16:24] z0al commented on #4
Hey @ryanhiebert I built a [silly package](https://www.npmjs.com/package/probot-issue-commands) to fix #3 and I think you might find it useful.

It works similar to `probot-commands` in some ways, but it only useful if the command parameters are issue references. An example could be:

[code]

[2017-12-30 13:58] ryanhiebert commented on #4
So, I actually don't want to use that because

1. I found that the probot-commands only worked on comments, and didn't work with the PR description. It's possible that I was doing something wrong, but it seems like this package may fall prey to the same issue.
2. I only want it to consider references made in the pull request's description, not follow-up comments. This is because it mirrors the way

[2017-12-30 14:17] z0al commented on #4
Yes, my package only meant to be working with issue (PR)  comments

https://github.com/ahmed-taj/probot-issue-commands/blob/29b0d114ad436800d80568dc333be6b2cf05ac5d/index.ts#L44

[2017-12-30 15:18] ryanhiebert commented on #4
Yeah, I suspect that may not be the most desirable way to do it, and that it would be better to match issue keywords only in the description, which the issue comments seem to not even support, since no comment notification is sent when when the issue is opened with a description.

[2018-01-12 16:54] z0al commented on #2
@nesl247 it's not possible for me to support cross-repo deps for all repositories.

I may only support repositories allowed per installation e.g. if you installed the app on `owner` and allowed the app to access `owner/repo-1` and `owner/repo-2` it will only work for those allowed repos and not e.g. `owner/repo-3` or `webpack/webpack`. In that case, would it still be useful or good enough for you?

[2018-01-12 17:15] nesl247 commented on #2
Yeah, that’s all I really need. Thanks so much.

[2018-01-19 17:40] lo1tuma opened #7 "Prevent dependency of a PR on itself"
Currently it is possible to create a PR and mark it to have a dependency on itself.

For example when I create the PR `#5` and then add a comment to this PR `/depends on #5` then dep-bot changes the commit status with the message "Blocked by `#5`".

[2018-01-19 17:42] lo1tuma opened #8 "Allow commands also within PR description"
Currently the bot only recognizes the `/depends` command in a PR comment. It would be nice if the bot would also recognize the command within the PR description.

[2018-01-19 17:47] lo1tuma opened #9 "Status is not updated when command is edited or removed"
The dependency status of a PR is not updated when the comment with the original command is edited or deleted.

For example, when I write the command `/depends on #123` then the status is updated to "blocked by `#123`". When I realize that I’ve made a typo and I edit the comment so it says `/depends on #124` then the status is not updated to "blocked by `#124`".

The same is true for deleting the c

[2018-01-19 17:51] lo1tuma opened #10 "Multiple commands in the same PR are not recognized"
Lets say I have the PR `#123` and I add two comments to this PR

* first comment `/depends on #121`
* second comment `/depends on #122`

then the commit status only includes the dependency of the latest comment, i.e. "Blocked by `#122`".
I would expect to have the status "Blocked by `#121` and `#122`".

[2018-01-20 12:14] z0al commented on #8
Thank you for opening this @lo1tuma, excellent :sparkles:

Your suggestion definitely makes sense. Actually, I'm thinking (as per @ryanhiebert's [suggestion](https://github.com/ahmed-taj/dep/pull/6#issuecomment-354548370)) to **only** recognize commands in the original PR description. That would also help to avoid #9 and #10 and other technical concerns

If you have any thoughts you would like sha

[2018-01-20 12:23] lo1tuma commented on #8
I’m not sure if it would prevent #9 and #10. The PR description can also be edited, which means I could change the `/depends` command or even remove it from the description. It would be also possible to write multiple `/depends` commands in a single description or comment.

But allowing the command only in the PR description would solve at least another problem: which is that people who don’t have

[2018-01-20 12:42] z0al commented on #8
Agree. What I meant is that tracking edits (update or remove) of comments is tricky. By allowing commands to be only in the description you can always get the latest/correct dependencies list by matching it against `/<command-regex>/g`.

The bot currently checks for push/admin access of the commenter before taking actions.
https://github.com/ahmed-taj/dep/blob/da4aed8db829e4d3c98db282ff27c0d09eb7c

[2018-01-20 12:47] lo1tuma commented on #8
True. It would definitely reduce complexity 👍 .

Oh, nice... I wasn’t aware of that.

[2018-02-08 11:48] z0al commented on #4
Closing this based on the discussion above but feel free to reopen if anything changed ;)

[2018-02-08 14:05] ryanhiebert commented on #7
Is this still applicable after #11 is merged? Since that's a big refactor in progress, it may be best to wait until that's complete for a change on this.

[2018-02-08 14:21] z0al commented on #7
Yes, it's applicable.

👍

[2018-02-12 01:48] laughedelic commented on #2
@ahmed-taj could you clarify why it's not possible? It seems that the check here

https://github.com/ahmed-taj/dep/blob/da4aed8db829e4d3c98db282ff27c0d09eb7c40c/lib/check.js#L17

can access issues of any public repository. Or am I missing something?

[2018-02-12 04:10] z0al commented on #2
Good question @laughedelic!

The app mainly listens to issue events(opened,closed), when an issue is closed we check if it's a dependecy of an open PR and update that PR's state accordingly!

The only - official -  way to get issue events is through subscribing to GitHub webhooks. But you can't unless the owner of that repository installed the app and authorized access to it. In short, we won't ge

[2018-02-15 12:18] #3 closed

[2018-02-15 12:18] #8 closed

[2018-02-15 16:25] z0al commented on #10
Closing this as it's no longer valid due to #11

Thanks!

[2018-02-15 16:25] #10 closed

[2018-02-15 16:26] z0al commented on #9
Closing this as it's no longer valid due to #11

Thanks!

[2018-02-15 16:26] #9 closed

[2018-02-17 18:51] laughedelic commented on #2
@ahmed-taj thanks for the explanation, I understand now where the limitation comes from: it's about event updates, not the state checks. But what if look at it from a different angle:

So if you already check PR's status whenever it's updated, you could check any external issue-dependencies. Add a listener for any kind of PR update (comments, reviews, pushes, labels, etc.) and check dependencies s

[2018-02-19 16:24] iphydf opened #13 "Make DEP a yellow waiting dot instead of a red cross."
The red cross tells people something failed, but actually it's just waiting. Make this more like WIP, which is a yellow waiting dot for WIP PRs. The effect is the same: can't be submitted, but the message is better.

[2018-02-19 16:29] iphydf opened #14 "Post a green status when there are no dependencies."
Without a green status posted on every PR, we can't make DEP a required check.

[2018-02-19 16:56] z0al commented on #13
Hi, @iphydf thanks for opening this!

DEP follows the way GitHub [status API](https://developer.github.com/v3/repos/statuses/) works. The app has to report one of 4 states: `error`, `failure`, `pending`, or `success` per check.

* **Failed** state means the assertion that made by that app wasn't true, for example, [Travis](https://travis-ci.org) reports "fail" we the script (mostly tests) exists w

[2018-02-19 17:03] z0al commented on #14
If I understand this right, it should be working. If it doesn't then there is probably a bug

Or the app didn't receive the GitHub event (probably because it's currently hosted on free [Heroku](https://heroku.com) instance).

Can you please provide an example?

[2018-02-19 17:14] iphydf commented on #13
Ok, I'll keep using Reviewable, WIP, and other "broken" apps then, and can't use this correctly implemented DEP app. I understand that the states are described in that way, and I agree with your interpretation, but it doesn't match the reality (such is the life on Github, I am very aware, given that I create my own integrations as well).

[2018-02-19 17:15] iphydf commented on #14
https://github.com/TokTok/c-toxcore/pull/799 just created, no DEP check.

[2018-02-19 17:20] z0al commented on #13
I wasn't aware of those apps.  And I didn't mean those apps are "broken". I'm just trying to make the app works the way GitHub users expect - I assume.

[2018-02-19 17:25] ryanhiebert commented on #13
I'm curious, why is it not acceptable for it to be a red X in your scenario? I know that sometimes I haven't liked to do "changes requested" reviews, because they use the same red X, and I'm worried that it will look scary to the requester.

But it doesn't mean that, and with the words we use we can be clear that we're happy for their contribution, and they're well on the way, just something needs

[2018-02-19 17:31] z0al commented on #14
Turns out `removeLabel` raises an exception if the label isn't assigned to that PR.

https://github.com/ahmed-taj/dep/blob/9e07839896d6a1ea4989be8f86b9afe2e8d454bd/lib/toggle.js#L23-L24

This is definitely a bug, thanks for reporting!

[2018-02-19 17:43] iphydf commented on #13
The red X means one of the checks failed. In our workflows, this almost always means something actionable for the contributor. The maintainers look at PRs with a yellow dot, because those have probably passed checks. On rare occasions, a yellow PR is in fact not ready for review, and then it's either explicitly marked as WIP, or we find that travis is running (but that's done after 3-4 minutes, so

[2018-02-19 22:09] ryanhiebert commented on #13
I decided to see if I could look up the semantics that GitHub defines, which of course is what we'd want to follow. I'm afraid that I haven't been able to find any clearly defined semantics in the commit statuses documentation. It just says the 4 types of statuses that may be set, it doesn't give any guidelines, that I've found, on when to use one or the other.

My intuition has been the same as t

[2018-02-19 23:23] iphydf commented on #13
Interesting, so what you're saying is that "pending" overrides "failed"? I thought any "failed" check will set the red cross, regardless of whether other things are pending or not.

[2018-02-20 11:30] z0al commented on #14
@iphydf this should be fixed now, but I can't recheck on that PR. Does the app still has access to that repository?

[2018-02-20 12:44] iphydf commented on #14
Yes, DEP should still be installed.

[2018-02-20 13:56] ryanhiebert commented on #13
No, it won't override, I just wrote imprecisely when I said "error". I meant "error or failure", sorry.

[2018-02-20 14:57] iphydf commented on #14
It's working: https://github.com/TokTok/py-toxcore-c/pull/24

I've made DEP a required check now. Thanks.

[2018-02-20 14:57] #14 closed

[2018-02-20 15:04] z0al commented on #14
You're welcome

[2018-02-22 17:08] rsarky commented on #7
I have fixed this in #16

[2018-02-22 17:12] z0al commented on #13
I took this idea but from a different perspective and built an app that lets you choose when a pull request is ready for review based on its statuses.

**Sample config**

[code]

It simply adds the review label if all `when` conditions matched the pull request's head statuses. Otherwise, it removes the label (if any).

Hope it helps regarding this issue.

Full source/docs: https://github.com/ahmed

[2018-02-22 17:32] iphydf commented on #13
Hey nice :) that'll be useful, thanks!

[2018-02-22 20:56] rsarky commented on #2
I dont this will work because an event will only be generated when a webhook is subscribed to.
And that will only happen when  the app is installed in the repository.
So an external dependency where the app has not been installed is impossible to handle IMO

[2018-02-22 21:14] laughedelic commented on #2
@rsarky you don't need to install the bot on other repos to check their issues (assuming repos are public). Here's a simple example:
* I have a repo `laughedelic/foo` where I installed this bot
* now I open an issue `#42` in it and write a comment: `Depends on rsarky/hello-world#1` (external dependency)

What does the bot do:
* listens on all issue (or pull-request) related events in my repo (in p

[2018-02-23 03:51] #13 closed

[2018-02-23 04:19] rsarky commented on #2
So what you are proposing is instead of subscribing to events from an external repo we passively check if the external dependencies are open or closed?

[2018-02-23 08:40] laughedelic commented on #2
@rsarky correct.

[2018-02-23 11:51] rsarky commented on #2
Hmmm.
I think it is a good idea although I have some questions.
How often will you poll the external repo for changes and when will you poll?

[2018-02-23 12:26] z0al commented on #2
@rsarky currently the app mainly listens for pull request open/close events:

https://github.com/ahmed-taj/dep/blob/4ec93bcf2429553bc5b960ab212161bd75ad1f6f/index.js#L17-L25

If I understand @laughedelic 's proposal correctly. We will need to listen to more [PR related events]() e.g. [pull_request_review](https://developer.github.com/v3/activity/events/types/#pullrequestreviewevent), [pull_request

[2018-02-23 14:01] laughedelic commented on #2
@ahmed-taj right. I'm glad that I could explain my idea in the end.

Technically you can subscribe to _all_ events from pull-requests: `robot.on('pull_request', ...)` (btw, the bot has those permissions already). Probably it's too much. I would consider _at least_ these actions relevant to trigger update:
* `pull_request.opened`
* `pull_request.edited`
* `pull_request.reopened`
* `pull_request.syn

[2018-02-23 14:04] rsarky commented on #2
So on any of the above actions we poll the external repo dependncies for their status right?
LGTM :+1:

[2018-02-23 14:09] z0al commented on #2
@rsarky yup

[2018-02-23 14:21] #7 closed

[2018-02-23 18:29] ryanhiebert commented on #13
I like it. Good work @ahmed-taj !

[2018-02-23 18:36] ryanhiebert commented on #2
We're trying to simulate updates that are triggered by an external repository by checking with whatever events we get from the current repository. I think it makes sense, if we're going to implement a hack like this, we should do it on any event that won't be recursive (if there's an event for "update a status", then we shouldn't do the check for that). And it should check _all_ pull requests for

[2018-03-07 14:56] charpeni commented on #2
Thumbs up, that's exactly what we're looking for [react-native](https://github.com/facebook/react-native) and [react-native-website](https://github.com/facebook/react-native-website).

Some pull requests in the documentation depends on pull request in the core repo and at the moment we handle this manually. I think this bot could be a great improvement in the process flow.

Additionally, if the bo

[2018-04-20 20:18] fgrehm opened #18 "[RFC] Handle full PR URLs and not only #NUMBER"
Hey @ahmed-taj,

We just installed the app for our org and one thing we noticed is that the bot only matches on `#PR_NUMBER`. If I got it right, I tracked it down to this regex:

https://github.com/ahmed-taj/dep/blob/999cc9bf74059404321d8323403c7ffac38f9a05/lib/helpers/match.js#L1

Would you be open to expanding that to support full links to PRs / issues?

[2018-04-20 20:52] z0al commented on #18
Hey @fgrehm, thanks for giving DEP a try!

Actually, I will support full links to PRs / issues since I'm planning to support cross-repository dependencies (#2). I will work on that soon :)

[2018-04-26 13:03] greenkeeper[bot] opened #19 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The engines config in 1 of your `package.json` files was updated to the new Node.js version

If you’re interested in upgrading this repo to Node.js 10, you can <a href=

[2018-05-07 16:21] zetaron opened #20 "DEP status lost on new commit"
I've discovered that DEP currently doesn't act on PRs receiving new commits, which leads to the status being not reported on the most current commit (the one used by github to compute the overall status). That's unfortunate as it prevents me from adding it to the list of required status.

It would be awesome to add DEP to the list of required PR status so that no one can accidentally merge a PR th

[2018-05-07 16:45] z0al commented on #20
Thanks @zetaron for reporting this 👍

I will check the logs and try to figure out what is going on. May you please provide some context? e.g. a PR link?

[2018-05-07 16:47] z0al commented on #20
Oh, just letting you know that this would take a day or so since my laptop isn't working right now hehe

[2018-05-07 16:49] zetaron commented on #20
@ahmed-taj No preassure! Just wanted to bring it to your attention as it seemed odd to me at first :)

If you want I could try to come up with a PR.

[2018-05-07 16:51] zetaron commented on #20
Also I can try to setup a test repository to showcase the issue.

[2018-05-07 16:55] z0al commented on #20
Great! Be my guest ;)

Also, we may need to consider that app might get rate limited since it's hosted on an OSS Zeit plan (https://now.sh) !

[2018-05-07 17:06] zetaron commented on #20
@ahmed-taj good to know, so maybe it's wise to host a small personal version... maybe add a hint to the readme and/or the github installation page?

[2018-05-07 17:30] z0al commented on #20
You're right, I will add this to the installation page shortly!

[2018-05-10 08:38] z0al commented on #20
Hey @zetaron. I've updated the [installation page](https://github.com/apps/dep) and will do the same on the README soon.

Do you have more info you would like to share?

[2018-05-12 21:43] zetaron commented on #20
@ahmed-taj No I've nothing to add, as soon as the repository is set up I can try to help reproduce this issue for further investigation.

As the repository I originally discovered it is a private one I can't share much more :s sorry.

Thanks for caring so much!

[2018-05-19 15:27] #19 closed

[2018-06-24 09:25] tomkerkhove opened #22 "Support for explicitly marking it as ok to merge"
This app checks PRs & issues that are referenced and decides based on the status.
However, in certain cases it is ok to merge it in and would be great to be able to flag it as ok.

Example - Issue is linked but not closed yet because it needs this PR:
![image](https://user-images.githubusercontent.com/4345663/41817752-405132c0-77a1-11e8-94ad-cc82866c387b.png)

DEP is blocking this as it detects th

[2018-06-24 09:44] z0al commented on #22
Hi @tomkerkhove , thanks for opening this ✨

Well, I'm confused.

In the example (pic) you provided, the app should not mark **#31** as a dependency. The app only considers `depends on #number` pattern.

https://github.com/ahmed-taj/dep/blob/999cc9bf74059404321d8323403c7ffac38f9a05/lib/helpers/match.js#L1

Again in the picture above, the app didn't report the final status yet, it supposed to repor

[2018-06-24 09:48] tomkerkhove commented on #22
That's interesting. Is there a way to see if that is the case because I only did 2 PRs in one week for this repo, maybe 10 for my account.

[2018-06-24 10:03] z0al commented on #22
would you be able to provide more a link to the PR above? I might be able to check what's exactly going on

[2018-06-24 18:52] tomkerkhove commented on #22
Unfortunately not given it has NDA content but it's ok for now, will circle back here when it's public (3-4w)

[2018-07-05 19:34] nesl247 commented on #20
I think this just needs:

[code]

here: https://github.com/z0al/dep/blob/999cc9bf74059404321d8323403c7ffac38f9a05/index.js#L21-L25

[2018-07-07 13:07] #20 closed

[2018-07-07 13:11] z0al commented on #22
I think #26 should fix this too. Closing this now, but please feel free to reopen if it's still there. Thanks for reporting :)

[2018-07-07 13:11] #22 closed

[2018-07-10 19:50] z0al commented on #2
Thank you all for sharing your thoughts, I really appreciate it :raised_hands:

@charpeni consider this real example: [facebook/react-native-website#401](https://github.com/facebook/react-native-website/pull/401) which depends on [facebook/react-native#19627](https://github.com/facebook/react-native/pull/19627)

None of these events would actually trigger an update (cc @laughedelic ):
* `pull_requ

[2018-09-23 07:14] tomkerkhove opened #27 "Waiting for status to be reported"
Every now and then the Dep app has the following status:

Is there a reason for this or is this a bug? This is still the case after a couple of hours and thus blocking PRs.

[2018-09-23 13:07] z0al commented on #27
Sorry to hear this :/

It's not a bug though. This app is deployed on a free [Now](https://now.sh) instance. Given there are 80+ installations (multiple repos per installation, mostly), I think the [free plan](https://zeit.co/pricing) may not be enough. some of GitHub events might get lost. I believe that case with you.

Fortunately, you can easily deploy your own instance of this app. Check out h

[2018-09-23 13:11] #27 closed

[2018-10-19 15:19] colindean commented on #18
I got bit by this just now trying out DEP for the first time. I tried using a short reference like `org/repo#1` to reference another private repo that DEP has permission to access. DEP cleared it when it was not actually OK to do so.

[2018-11-12 00:39] Croydon opened #28 "feature request: extend functionality to work with issues"
I encounter it way more often that issue depend and/or block each other instead of pull requests. Moreover, several projects I'm involved in have started to manually maintain such "depend", "blocked" issue labels, so I would totally love it if the functionality of this bot is getting extended to support issues as well.

[2018-11-12 00:51] ryanhiebert commented on #28
I've personally found that I like zenhub's dependency management for issues. Have you looked at that? How would you like this project to improve on what that provides?

[2018-11-15 23:43] Croydon commented on #28
Correct me when I'm wrong but zenhub requires to use a third-party platform and/or install something locally, right?

This bot just hooks in and doesn't disrupt anyone's work flow and this is perfect.

[2019-01-18 07:55] bobvanderlinden commented on #2
It might make sense to have a way to manually reevaluate checks. Might be able to make use of checkrun actions https://developer.github.com/v3/checks/runs/#parameters.

[2019-06-04 13:19] OliverJAsh commented on #4
From reading through the thread it seems this wasn't solved. Should we reopen it to track this suggestion?

[2019-06-04 13:26] ryanhiebert commented on #4
I created https://github.com/apps/chain (repo at https://github.com/ryanhiebert/probot-chain) that watches for closed PRs, and then goes through and updates related PRs with a base of the previous PRs branch. That's been enough for what I wanted. Its running on a free dyno on Heroku right now, so if it gets too much usage we might have to pay for hosting or find another free host, but feel free to

[2019-07-28 04:44] cyberhck opened #29 "I've sent a pr to remove contributor section on probot"
https://github.com/probot/probot.github.io/pull/303 either you need to provide a fix or be okay with contributors section there. it's failing because your images are returning 404.

[2019-07-28 07:28] z0al commented on #29
I don't mind removing that section, thanks.

[2019-07-28 07:28] #29 closed

[2019-08-04 02:32] ibakshay opened #30 "Status not changing to pending"
Hi, `#234` is a open issue but still the PR status is coming as `Success` instead of `Pending`. (when dependency is not resolved). Could you please check If something is missing ?. I tried with both open  pull request and issues. In Both the cases. the  Pr status is not coming as Pending.
<img width="901" alt="Screen Shot 2019-08-04 at 04 27 19" src="https://user-images.githubusercontent.com/33329

[2019-08-04 03:18] ibakshay commented on #30
I don't think `Depends on` is a keyboard anymore. Can you please check and propose a possible solution ?. It would be great.

[2019-08-04 03:25] ibakshay commented on #30
My bad, I commented instead of giving in PR description. It is working perfectly fine.  Thanks for the wonderful project. Could you please tell a little bit about the probot-metadata ?. Because I am working on POC and I  have a use case for storing data in `probot-metadata`. I can see that you are not storing data in Metadata anymore though.

[2019-08-04 03:25] #30 closed

[2019-08-04 06:05] z0al commented on #30
The bot used to allow declaring dependencies in comments and I needed a way to store issue numbers, and that's why I used `probot-metadata`.

Later, I decided to stick only to PR description (see #11 for details) which made `probot-metadata` unnecessary (since I can just apply a regular expression to the PR description to get the list of dependencies).

Thanks for using Dep

[2020-01-09 17:38] ulope opened #31 "Configurable regexes"
It would be nice if the regexes could be configured per-repo.
(So that the tool can adapt to the workflow and not the other way around ;))

Examples of commonly used variants in our repo:
[code]

[2020-01-29 16:59] SouhaibBenFarhat commented on #2
Hi guys, any updates about this enhancement, I tested this dep app and looks exactly what we need currently in our company, the only problem is that dep doesn't support cross repository dependencies, seems like the fix is just to update the regex matching pattern and extend it to match pull request urls as well.
A pull request was opened for that reason but was closed, any new updates about this ?

[2020-01-30 07:34] bobvanderlinden commented on #2
Can you refer to the PR?

[2020-01-30 11:24] SouhaibBenFarhat commented on #2
Thanks for your interaction, I see sign of life here 😄
this is the pull request.
https://github.com/z0al/dep/pull/6

[2020-01-31 04:11] z0al commented on #2
@SouhaibBenFarhat that PR was not actually related.

Regarding this. I'm afraid I don't have much time to work on this anytime soon. Please feel free to submit a pull request.

[2020-01-31 08:39] SouhaibBenFarhat commented on #2
I will try to investigate and see how things works with probot and octokit, try to implement something in the next few days, Thanks for your interaction. You did a very nice job. 👍

[2020-02-26 09:58] frixatrix commented on #2
@SouhaibBenFarhat was you able to find the solution for linking cross-repo PRs?

[2020-05-05 22:31] Raffaello opened #32 "the DEP step is hanging out... waiting for something that will never happen.."
I think it is crash behind the scene, just not resolving the DEP status check.
please see here:
https://github.com/Raffaello/sdl2-vga-terminal/pull/90

it might be changed again as i am plannig other commits, but it should be resolved or green or red as there is really nothing to wait for.

[2020-05-06 01:04] z0al commented on #32
Hey, Thanks for reporting the issue.

I have a suspicion that it might be related to Now v1 being deprecated (now.sh). I think I got an email but was busy to check it out. I need to check that first in the morning.

[2020-05-06 01:28] z0al commented on #32
Actually just by checking the URL it's seems still alive. If you keep getting delayed statuses from time to time then it's probably due the limit of the free tier at https://now.sh . Currently the app has +200 installation (user or GitHub org) so it very likely that the bot misses some GitHub events every now and then.

[2020-05-06 01:33] z0al commented on #32
GitHub is "expecting" a report from the bot (since it's required). It's not that the bot itself reported "waiting...", The bot might not have even received the even (see my message above)

[2020-05-06 09:55] z0al commented on #32
I'm going to close this as there is nothing much I can do here. Please feel free to reopen you think makes sense.

[2020-05-06 09:55] #32 closed

[2020-05-06 11:11] Raffaello commented on #32
is there any way to diagnose if the event has been lost?

[2020-05-06 12:48] Raffaello commented on #32
anyway paying a little bit more attention seems on the "update PR" event that is not working.
if i have some diagnostic tools i might help more...

[2020-05-06 13:15] z0al commented on #32
@Raffaello  I'm not aware of any. As the bot owner, I can see recent events sent to the bot in GitHub UI but it's just an infinite list with no way to filter by status, date ...etc. Since the bot receives more than 10k events a day it's pretty useless.

Sorry couldn't help much here.

[2020-08-24 10:34] addrum opened #33 "Bot occasionally stops working"
We're running the bot across our org (_not_ self hosted) and recently it's stopped working and we're not sure why. We've got fairly lengthy PR descriptions but adding "depends on #xx" at the start or end doesn't make a difference, nor does capitalisation or the other key words. We've tried a couple of reinstalls, the first time this seemed to fix things, the second time it hasn't. Please let me kn

[2020-08-24 10:35] addrum commented on #33
I should add by "not working", I mean we don't get the "dependent" label added nor see the bot in the status checks.

[2020-08-25 10:02] z0al commented on #33
Thank you for reporting this. I checked the deployment and it seems down due to:

ZEIT Now 1.0 has been shut down. As part of this, all ZEIT Now 1.0 Deployments are now inaccessible.

I will need to migrate the deployment to Now 2.0. I will try to do it as soon as possible or on the next weekend maybe.

[2020-08-25 19:14] leotrs opened #34 "Not working"
Just installed this bot but I'm afraid it's not working. Not sure how to proceed. Might this have to do with deployment?

[2020-08-25 19:32] leotrs commented on #34
The cause is probably this https://github.com/z0al/dep/issues/33#issuecomment-679930813

[2020-09-10 18:01] leotrs commented on #33
Any updates here? Eager to start using this bot soon!

[2020-09-10 21:14] z0al commented on #33
Sorry for the delay. I started working on this and will publish a new version soon-ish. It has been a while since this app received any love so I'm upgrading some dependencies.

[2020-09-10 21:33] leotrs commented on #33
Thanks for the update! :)

[2020-09-20 16:15] z0al commented on #33
I just re-deployed the App again, but this time using Glitch instead of Vercel. Everything should be working but if you found a problem please open a new issue.

[2020-09-20 16:15] #33 closed

[2020-10-19 13:04] leotrs commented on #34
The bot was working for a while after #33 was closed, but it is no longer working for us today :(

[2020-10-19 16:34] z0al commented on #34
That's unfortunate :(

I'm planning to rewrite the whole thing in a [GitHub Action](https://docs.github.com/en/free-pro-team@latest/actions) later this week. That should make it more stable since I don't have to rely on "Free Tier" hosting solutions and would finally make sense to implement things like #2

[2020-10-19 16:49] leotrs commented on #34
Thanks for your quick response!

On Mon, Oct 19, 2020 at 12:34 PM Ahmed T. Ali <notifications@github.com>
wrote:

--
www.leotrs.com | leo@leotrs.com
PhD candidate at the Network Science Institute, Northeastern University

[2020-11-25 11:47] z0al commented on #34
Hey @leotrs . I was finally able to build a new GitHub action to replaces this bot.

The new action is more robust and has a few more features like customizing the keywords, label, and supporting dependencies from any repository :tada:

Please check it out at https://github.com/z0al/dependent-issues

This bot is now deprecated and I will be archiving this repository in the upcoming days. Thanks.

[2020-11-25 11:47] #34 closed

[2020-11-25 11:50] z0al commented on #31
Hey @ulope  . I was able to build a new GitHub action to replaces this bot.

The new action is more robust and has a few more features like customizing the label, and supporting dependencies from any repository. You can even your own keywords as you requested here :tada:

Please check it out at https://github.com/z0al/dependent-issues

This bot is now deprecated and I will be archiving this reposi

[2020-11-25 11:50] #31 closed

[2020-11-25 11:52] z0al commented on #28
Hey @Croydon and @ryanhiebert I hope you are doing well.

I was able to build a new GitHub action that replaces this bot.

The new action is more robust and has a few more features like customizing the keywords, label, and supporting dependencies from any repository. And yes, it can work with issues too :tada:

Please check it out at https://github.com/z0al/dependent-issues

This bot is now deprec

[2020-11-25 11:52] #28 closed

[2020-11-25 11:55] z0al commented on #18
Hey @colindean I hope you are doing well.

I was able to build a new GitHub action to replaces this bot.

The new action is more robust and has a few more features like customizing the keywords, label, and supporting dependencies from any repository. It can also handle references like e.g. `user/repo#1` :tada:

Please check it out at https://github.com/z0al/dependent-issues

This bot is now deprec

[2020-11-25 11:55] #18 closed

[2020-11-25 11:57] z0al commented on #2
Hey everyone I hope you are doing well.

I was able to build a new GitHub action that replaces this bot.

The new action is more robust and has a few more features like customizing the keywords, label, and handling of cross-repository dependencies :tada:

Please check it out at https://github.com/z0al/dependent-issues

This bot is now deprecated and I will be archiving this repository in the upcom

[2020-11-25 11:57] #2 closed

[2020-11-25 12:12] Croydon commented on #28
Hi @z0al!

Thank you for your work and your hint for the new Action. It looks very promising. I will try it some when in the next weeks 🙂

[2020-11-25 13:31] ulope commented on #31
That looks very nice!
Thanks for the heads up.

[2020-11-25 14:42] leotrs commented on #34
Awesome! We'll try the new action soon.